.register_form {
    width: 50%;
    margin: auto;
    border: 1px solid lightgrey;
    padding: 25px;
    border-radius: 30px;
}

input[type=email]:hover,  input[type=password]:hover {
    border: 2px blue solid;
}

