<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/forms.css">
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/forms.js"></script>
    <title>Login</title>
</head>
<body>
{% include 'navbar.html' %}
    <form action="" class="register_form" onsubmit="loginUser(event)">
        <h1 style="text-align: center">Login</h1>
        <div class="mb-3">
            <label for="user_email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="user_email" placeholder="name@example.com">
        </div>
        <label for="user_reg_password" class="form-label">Password</label>
            <input type="password" id="user_reg_password" class="form-control" aria-describedby="passwordHelpBlock">
            <br>
            <div class='form_buttons' style="text-align: center;">
                <button type="button" class="btn btn-danger btn-lg" onclick="clearFields(event)">Clear All</button>
                <button type="submit" class="submit_form btn btn-success btn-lg">Submit</button>               
            </div>
            <br>
            <div style="text-align: center">
                Or <a href="/auth/register">Register now</a> if you don't have an account
            </div>
        </form>
</body>

</html>